<html>
	<head>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="http://static.vectorcharacters.net/uploads/2013/03/Schoolboy_Vector_Character_Preview.jpg" style="height: 350px; padding-left: 200px;">
			</div>
			<div class="col-md-6" style="padding-top: 40px;">
				<h1 style="font-size: 50px; margin-bottom: 0;">Hello,</h1>
				<h2 style="margin-top: 0;">my name is Radifan</h2>
			</div>
		</div>
	</div>
	</body>
</html>